Faker==2.0.2
Sphinx==2.2.0
aiohttp-theme==0.1.5
aioresponses==0.6.1
asynctest==0.13.0
bpython
flake8==3.7.8
py-spy==0.2.1
pydocstyle==4.0.1
pyinstrument==3.0.3
pylint==2.4.2
pytest-asyncio==0.10.0
pytest-bdd==3.2.1
pytest-cov==2.8.1
pytest-mock==1.11.1
pytest-rerunfailures==7.0
pytest-socket==0.3.3
pytest-xdist==1.30.0
pytest==5.2.1
q==2.6
recommonmark==0.6.0
sphinx-bootstrap-theme==0.7.1
sphinx-click==2.3.0
tox==3.14.0
twine==2.0.0
wheel==0.33.6
yapf==0.28.0
